@model List<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table cellpadding="10" cellspacing="10" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach(var product in Model)
    {
        <tr>
            <th>@product.Id</th>
            <th>@product.Name</th>
        </tr>
    }
</table>
